parameters:


application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter


session:
    expiration: 14 days

extensions:
    dateti: DateTi\DI\Nette\Extension

services:
    router: App\Router\RouterFactory::createRouter

dateti:
    timezone: Europe/Prague
    localizations:
        - DateTi\Localization\English
